{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

Hi there,

<p>Thank you for signing up for Nitrobills. Click on the link below to verify your email:</p>

{{ activate_url }}

<p>If you did not sign up for a Nitrobills account, you can safely ignore this email.</p>



Best,

The Nitrobills Team

<!-- You're receiving this email because user {{ user_display }} has given your email address to register an account on {{ site_domain }}. -->

{% endblocktrans %}
{% endautoescape %}